<!doctype html>
<html ng-app="demo" ng-controller="placeCtrl">
<head>
<title>Users Demo AngularJS</title>
<link rel="stylesheet" href="w3.css">
<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

<div class="w3-container">

<h3>Place</h3>

<table class="w3-table w3-bordered w3-striped">
  <tr>
    <th>Edit</th>
    <th>Place Number</th>
    <th>Price</th>
    <th>Size</th>
  </tr>
  <tr ng-repeat="place in places">
    <td>
      <button class="w3-btn w3-ripple" ng-click="editPlace(places.indexOf(place))">&#9998; Edit</button>
    </td>
    <td>{{ place.id }}</td>
    <td>{{ place.price }}</td>
    <td>{{ place.size }}</td>
  </tr>
</table>
<br>
<button class="w3-btn w3-green w3-ripple" ng-click="editPlaceN()">&#9998; Create New Place</button>

<form ng-hide="hideform">
  <h3 ng-show="edit">Create New Place:</h3>
  <h3 ng-hide="edit">Edit Place:</h3>
    <label>Price:</label>
    <input class="w3-input w3-border" type="text" ng-model="price" ng-disabled="!edit" placeholder="Price">
  <br>
    <label>Size:</label>
    <input class="w3-input w3-border" type="text" ng-model="size" ng-disabled="!edit" placeholder="Size">
<button class="w3-btn w3-green w3-ripple" ng-click="savePlace()" ng-disabled="error || incomplete">&#10004; Save Changes</button>
</form>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="studentsDemo.js"></script>

</body>
</html> 