<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yacht Marina</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="css/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" href="css/templatemo-ocean-vibes.css">
    <link rel="stylesheet" href="w3.css">

</head>


<body>
    <header class="tm-site-header">
        <h1 class="tm-mt-0 tm-mb-15"><span class="tm-color-primary">YACHT</span> <span class="tm-color-gray-2">MARINA</span></h1>
        <em class="tm-tagline tm-color-light-gray">in the Maldives</em>
    </header>

    <!-- Video banner 400 px height -->
    <div id="tm-video-container">
        <video autoplay muted loop id="tm-video">
            <source src="video/ocean-sea-wave-video.mp4" type="video/mp4">
        </video>
        <i id="tm-video-control-button" class="fas fa-pause"></i>
    </div>
    <div class="tm-container">
        <nav class="tm-main-nav">
            <ul id="inline-popups">
                <li class="tm-nav-item">
                    <a href="#intro" data-effect="mfp-move-from-top" class="tm-nav-link">
                        Introduction
                        <i class="far fa-3x fa-smile"></i>
                    </a>
                </li>
                <li class="tm-nav-item">
                    <a href="#contact" data-effect="mfp-move-from-top" class="tm-nav-link">
                        Reservation
                        <i class="fas fa-3x fa-water"></i>
                    </a>
                </li>
                <li class="tm-nav-item">
                    <a href="#about" data-effect="mfp-move-from-top" class="tm-nav-link">
                        About
                        <i class="fas fa-3x fa-tint"></i>
                    </a>
                </li>
                <li class="tm-nav-item">
                    <a href="#testimonials" data-effect="mfp-move-from-top" class="tm-nav-link">
                        Contact
                        <i class="far fa-3x fa-comments"></i>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Popup itself -->
        <div id="intro" class="popup mfp-with-anim mfp-hide tm-bg-gray">
            <a href="#" class="tm-close-popup">
                return home
                <i class="fas fa-times"></i>
            </a>
            <div class="tm-row tm-intro-row">
                <img src="img/intro.jpg" alt="Image" class="tm-intro-img">
                <div class="tm-col tm-bg-white tm-intro-pad">
                    <h2 class="tm-color-primary tm-page-title">Introducing Yacht Marina</h2>
                    <div class="tm-row tm-content-row">
                        <div class="tm-col-6 tm-intro-col-l">
                            <p>
                                Maldives Yacht Marina System provides a user-friendly website.
                                On this website, users can find the information about marina rental,
                                renting of warehouse premises for the large yacht equipment and specific
                                yacht services.  </p>
                            <p>
                                The system contains the scheme of the marina. It shows
                                which place is available for parking and its price. Users can book
                                these places via special form. Yacht owners can also find the necessary
                                contacts for the nearest yacht service there and general information about the yacht marina. </p>

                        </div>
                        <div class="tm-col-6">
                            <p>
                                Writing code in java script is so hard!
                            </p>
                            <p>
                                Top right corner is a return home with an
                                icon that will close this pop-up page.
                            </p>
                            <p class="tm-mb-80">
                                Next Page will bring you to the reservation
                                page directly without going back to main
                                menu.
                            </p>
                            <div class="tm-text-center">
                                <a href="#" class="tm-btn tm-btn-primary mfp-prevent-close tm-btn-next">
                                    Next Page
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="testimonials" class="popup mfp-with-anim mfp-hide tm-bg-gray">
            <a href="#" class="tm-close-popup">
                return home
                <i class="fas fa-times"></i>
            </a>
            <div class="tm-testimonials-inner">
                <h2 class="tm-color-gray tm-testimonial-col tm-page-title">Testimonials</h2>
                <div class="tm-row tm-testimonial-row">
                    <div class="tm-col tm-testimonial-col">
                        <p>
                            Luke Skywalker has returned to
                            his home planet of <span class="tm-color-primary">Tatooine</span> in
                            an attempt to rescue his
                            friend Han Solo from the
                            clutches of the vile gangster
                            Jabba the Hutt.
                        </p>
                        <em class="tm-mb-30 tm-color-light-gray">
                            Little does Luke know that the
                            GALACTIC EMPIRE has secretly
                            begun construction on a new
                            armored space station even
                            more powerful than the first
                            dreaded Death Star.
                        </em>
                        <p>
                            When completed, this ultimate
                            weapon will spell certain doom
                            for the small band of rebels
                            struggling to restore freedom
                            to the galaxy...
                        </p>
                        <p>
                            In tempor felis vitae nulla feugiat aliquam.
                            Vivamus vitae congue mi. Sed maximus velit
                            vestibulum nisl condimentum hendrerit.
                        </p>
                    </div>
                    <div class="tm-col tm-testimonial-col tm-testimonial-col-2">
                        <img src="img/testimonial-01.jpg" alt="Image" class="tm-mb-30">
                        <blockquote>
                            <p>
                                The <span class="tm-color-primary">FIRST ORDER</span> reigns.
                                Having decimated the peaceful
                                Republic, Supreme Leader Snoke
                                now deploys his merciless
                                legions to seize military
                                control of the galaxy.
                                Only General Leia Organa's
                                band of <span class="tm-color-primary">RESISTANCE</span> fighters
                                stand against the rising
                                tyranny, certain that Jedi
                                Master Luke Skywalker will
                                return and restore a spark of
                                hope to the fight.
                            </p>
                        </blockquote>
                        <div class="tm-text-center">
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" class="tm-btn tm-btn-primary mfp-prevent-close tm-btn-contact">
                                Contact Us
                            </a>
                        </div>
                    </div>
                    <div class="tm-col tm-testimonial-col tm-testimonial-col-2">
                        <p>
                            But the Resistance has been
                            exposed. As the First Order
                            speeds toward the rebel base,
                            the brave heroes mount a
                            desperate escape....
                        </p>
                        <img src="img/testimonial-02.jpg" alt="Image" class="tm-mt-35">
                    </div>
                </div>
            </div>
        </div>

        <div id="about" class="popup mfp-with-anim mfp-hide tm-bg-gray">
            <a href="#" class="tm-close-popup">
                return home
                <i class="fas fa-times"></i>
            </a>
            <h2 class="tm-color-primary tm-about-col tm-mb-40 tm-page-title">About Yacht Marina</h2>
            <div class="tm-row tm-about-row">
                <div class="tm-col tm-about-col tm-about-left" >
                    <img src="img/map.jpg" alt="Image" class="tm-mb-30">

                    <p class="tm-mb-40" ng-controller="placeCtrl">
                        It is a period of civil war.
                        Rebel spaceships, striking
                        from a hidden base, have won
                        their first victory against
                        the evil Galactic Empire.

                    </p>
                    <p class="tm-mb-40">
                        During the battle, Rebel
                        spies managed to steal secret
                        plans to the Empire's
                        ultimate weapon, the  <span class="tm-color-primary">DEATH
                        STAR</span>, an armored space
                        station with enough power to
                        destroy an entire planet.
                    </p>
                </div>
                <div class="tm-col tm-about-col" ng-controller="placeCtrl">
                    <table class="w3-table w3-bordered w3-striped">
                        <tr>
                            <th>Place</th>
                            <th>Price</th>
                            <th>Size</th>
                            <th>Description</th>
                        </tr>
                        <tr ng-repeat="place in places">
                            <td>{{ place.id }}</td>
                            <td>{{ place.price }}</td>
                            <td>{{ place.size }}</td>
                            <td>{{ place.description }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div id="contact" class="popup mfp-with-anim mfp-hide tm-bg-gray">
            <a href="#" class="tm-close-popup">
                return home
                <i class="fas fa-times"></i>
            </a>
            <h2 class="tm-contact-col tm-color-primary tm-page-title tm-mb-40">Book now</h2>
            <div class="tm-row tm-contact-row">
                <div class="tm-col tm-contact-col">



                    <form id="contact-form" action="" method="POST" class="tm-contact-form" ng-controller="orderCtrl">
                        <div class="form-group">
                            <input type="text" ng-model="name" name="name" class="form-control rounded-0" placeholder="Full Name" required />
                        </div>
                        <div class="form-group">
                            <input type="email" ng-model="mail" name="email" class="form-control rounded-0" placeholder="Email" required />
                        </div>
                        <div class="form-group">
                            <select class="form-control" ng-model="place_id" id="contact-select" placeholder="Place number" name="inquiry" ng-controller="placeCtrl">
                                <option value="" disabled selected>Select a place</option>
                                <option ng-selected="place_id == place.id"
                                        ng-repeat="place in places"
                                        ng-value="place.id">{{ place.id }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="bday" ng-model="bookingDateStart" placeholder="Starting date" onfocus="(this.type='date')" pattern="\d{4}-\d{2}-\d{2}" class="form-control rounded-0" required />
                            <span class="validity"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" name="bday" ng-model="bookingDateEnd" placeholder="Ending date" onfocus="(this.type='date')" pattern="\d{4}-\d{2}-\d{2}" class="form-control rounded-0" required />
                            <span class="validity"></span>
                        </div>

                        <div class="form-group tm-text-right">
                            <button type="submit" class="tm-btn tm-btn-primary" ng-click="saveOrder()" ng-disabled="error || incomplete">Send it now</button>
                        </div>
                    </form>
                </div>
                <div class="tm-col tm-contact-col tm-contact-col-r">
                    <!-- MAP -->
                    <div class="mapouter tm-mb-40">
                        <div class="gmap_canvas">
                            <iframe width="100%" height="520" id="gmap_canvas"
                                src="img/map.jpg"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                    </div>

                    <!-- Address -->
                    <address class="tm-mb-40">
                        110-220 Nam vel ultricies mauris,<br>
                        Et gravida eros 10220
                    </address>

                    <!-- Links -->
                    <ul class="tm-contact-links">
                        <li>
                            <a href="tel:0100200340">
                                <i class="fas fa-phone tm-contact-link-icon"></i>
                                Tel: 010-020-0340
                            </a>
                        </li>
                        <li>
                            <a href="mailto:info@company.com">
                                <i class="fas fa-at tm-contact-link-icon"></i>
                                Email: info@company.com
                            </a>
                        </li>
                        <li>
                            <a href="https://www.company.com">
                                <i class="fas fa-link tm-contact-link-icon"></i>
                                URL: www.company.com
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer class="tm-footer">
        <span>Copyright &copy; 2022 Your Company</span>
        <span><a>Enjoy the website!</a></span>
</footer>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/templatemo-script.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/orders.js"></script>
</body>
</html>
